* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
/.tomcatplugin -text
/assembly.xml -text
/pom.xml -text
src/main/java/com/chinacreator/videoalliance/util/Base64.java -text
src/main/java/com/chinacreator/videoalliance/util/ChinaUnicomEnum.java -text
src/main/java/com/chinacreator/videoalliance/util/DesUtil.java -text
src/main/java/com/ibatis/sqlmap/engine/execution/SqlExecutor.java -text
src/main/java/com/melot/kkcx/action/TimMsgAction.java -text
src/main/java/com/melot/kkcx/functions/ActivityCenterFunctions.java -text
src/main/java/com/melot/kkcx/functions/ActorGiftFunctions.java -text
src/main/java/com/melot/kkcx/functions/AlbumFunctions.java -text
src/main/java/com/melot/kkcx/functions/CommonAction.java -text
src/main/java/com/melot/kkcx/functions/KKHallFunctions.java -text
src/main/java/com/melot/kkcx/functions/MobileFunctions.java -text
src/main/java/com/melot/kkcx/functions/ProfileFunctions.java -text
src/main/java/com/melot/kkcx/functions/TimFunctions.java -text
src/main/java/com/melot/kkcx/functions/UserFunctions.java -text
src/main/java/com/melot/kkcx/model/ActivityEmoticon.java -text
src/main/java/com/melot/kkcx/model/ActorLevel.java -text
src/main/java/com/melot/kkcx/model/ActorNotice.java -text
src/main/java/com/melot/kkcx/model/CommonDevice.java -text
src/main/java/com/melot/kkcx/model/DynamicEmoticon.java -text
src/main/java/com/melot/kkcx/model/HistoryRankInfo.java -text
src/main/java/com/melot/kkcx/model/ImAdmin.java -text
src/main/java/com/melot/kkcx/model/ImAdminList.java -text
src/main/java/com/melot/kkcx/model/ImageInfoArray.java -text
src/main/java/com/melot/kkcx/model/LotteryPrize.java -text
src/main/java/com/melot/kkcx/model/LotteryPrizeList.java -text
src/main/java/com/melot/kkcx/model/MsgBody.java -text
src/main/java/com/melot/kkcx/model/MsgContent.java -text
src/main/java/com/melot/kkcx/model/RichLevel.java -text
src/main/java/com/melot/kkcx/model/ScoreInfo.java -text
src/main/java/com/melot/kkcx/model/StarInfo.java -text
src/main/java/com/melot/kkcx/model/Sticker.java -text
src/main/java/com/melot/kkcx/model/TimContent.java -text
src/main/java/com/melot/kkcx/model/TimMsg.java -text
src/main/java/com/melot/kkcx/model/TimMsgContent.java -text
src/main/java/com/melot/kkcx/model/TimMsgList.java -text
src/main/java/com/melot/kkcx/redis/PushMsgSource.java -text
src/main/java/com/melot/kkcx/redis/UserRelationSource.java -text
src/main/java/com/melot/kkcx/service/ActivityExchangeService.java -text
src/main/java/com/melot/kkcx/service/ActorGiftService.java -text
src/main/java/com/melot/kkcx/service/AlbumServices.java -text
src/main/java/com/melot/kkcx/service/AssetService.java -text
src/main/java/com/melot/kkcx/service/FamilyMatchService.java -text
src/main/java/com/melot/kkcx/service/FamilyService.java -text
src/main/java/com/melot/kkcx/service/GeneralService.java -text
src/main/java/com/melot/kkcx/service/GuessService.java -text
src/main/java/com/melot/kkcx/service/MessageBoxServices.java -text
src/main/java/com/melot/kkcx/service/MessageService.java -text
src/main/java/com/melot/kkcx/service/ProfileServices.java -text
src/main/java/com/melot/kkcx/service/RoomService.java -text
src/main/java/com/melot/kkcx/service/SendTimMsgService.java -text
src/main/java/com/melot/kkcx/service/StorehouseService.java -text
src/main/java/com/melot/kkcx/service/TimService.java -text
src/main/java/com/melot/kkcx/service/UserAssetServices.java -text
src/main/java/com/melot/kkcx/service/UserRelationService.java -text
src/main/java/com/melot/kkcx/service/UserService.java -text
src/main/java/com/melot/kkcx/transform/FriendEmoticonTF.java -text
src/main/java/com/melot/kkcx/transform/GuardTF.java -text
src/main/java/com/melot/kkcx/transform/LiveShowTF.java -text
src/main/java/com/melot/kkcx/transform/NewsCommentTF.java -text
src/main/java/com/melot/kkcx/transform/NewsRewardRankTF.java -text
src/main/java/com/melot/kkcx/transform/NewsTF.java -text
src/main/java/com/melot/kkcx/transform/RoomTF.java -text
src/main/java/com/melot/kkcx/transform/TicketTF.java -text
src/main/java/com/melot/kkcx/util/Constant.java -text
src/main/java/com/melot/kkcx/util/DBEnum.java -text
src/main/java/com/melot/kkgame/action/ActivityFunction.java -text
src/main/java/com/melot/kkgame/action/ActorFunction.java -text
src/main/java/com/melot/kkgame/action/BaseAction.java -text
src/main/java/com/melot/kkgame/action/GamblingFunction.java -text
src/main/java/com/melot/kkgame/action/GameActivityAction.java -text
src/main/java/com/melot/kkgame/action/GameApiAction.java -text
src/main/java/com/melot/kkgame/action/GameCenterFunction.java -text
src/main/java/com/melot/kkgame/action/GameHallFunction.java -text
src/main/java/com/melot/kkgame/action/GameTaskAction.java -text
src/main/java/com/melot/kkgame/action/GameVideoAction.java -text
src/main/java/com/melot/kkgame/action/HallFunction.java -text
src/main/java/com/melot/kkgame/action/LotteryFunction.java -text
src/main/java/com/melot/kkgame/action/RankFunction.java -text
src/main/java/com/melot/kkgame/action/RankingListFunction.java -text
src/main/java/com/melot/kkgame/action/WeekStarFunction.java -text
src/main/java/com/melot/kkgame/action/external/GameApplyFunction.java -text
src/main/java/com/melot/kkgame/action/external/PictureAlbumFunction.java -text
src/main/java/com/melot/kkgame/action/external/PromotePartnerFunction.java -text
src/main/java/com/melot/kkgame/action/sport/EventFunction.java -text
src/main/java/com/melot/kkgame/action/sport/EventNewsFunction.java -text
src/main/java/com/melot/kkgame/domain/Activity.java -text
src/main/java/com/melot/kkgame/domain/GameUserInfo.java -text
src/main/java/com/melot/kkgame/domain/GiftExchangeLog.java -text
src/main/java/com/melot/kkgame/domain/GiftInfo.java -text
src/main/java/com/melot/kkgame/domain/KgFamilyInfo.java -text
src/main/java/com/melot/kkgame/domain/LotteryInfo.java -text
src/main/java/com/melot/kkgame/logger/HadoopLogger.java -text
src/main/java/com/melot/kkgame/model/GambleResult.java -text
src/main/java/com/melot/kkgame/model/RoomModel.java -text
src/main/java/com/melot/kkgame/model/UserGamble.java -text
src/main/java/com/melot/kkgame/model/UserModel.java -text
src/main/java/com/melot/kkgame/model/transform/UserNewsTF.java -text
src/main/java/com/melot/kkgame/model/transform/UserTF.java -text
src/main/java/com/melot/kkgame/redis/ActorInfoSource.java -text
src/main/java/com/melot/kkgame/redis/BangVideoSource.java -text
src/main/java/com/melot/kkgame/redis/GamblingSource.java -text
src/main/java/com/melot/kkgame/redis/GameCenterSource.java -text
src/main/java/com/melot/kkgame/redis/GiftStarSource.java -text
src/main/java/com/melot/kkgame/redis/HallPartSource.java -text
src/main/java/com/melot/kkgame/redis/LiveTypeSource.java -text
src/main/java/com/melot/kkgame/redis/LotteryTaskSource.java -text
src/main/java/com/melot/kkgame/redis/RankingListSource.java -text
src/main/java/com/melot/kkgame/redis/RoomMessageSource.java -text
src/main/java/com/melot/kkgame/redis/SignInTaskSource.java -text
src/main/java/com/melot/kkgame/redis/SmsSource.java -text
src/main/java/com/melot/kkgame/redis/UserHotSource.java -text
src/main/java/com/melot/kkgame/redis/UserPropSource.java -text
src/main/java/com/melot/kkgame/redis/external/ConfigSource.java -text
src/main/java/com/melot/kkgame/redis/external/GiftInfo.java -text
src/main/java/com/melot/kkgame/redis/external/GiftSource.java -text
src/main/java/com/melot/kkgame/redis/external/LevelSource.java -text
src/main/java/com/melot/kkgame/redis/external/MessageSource.java -text
src/main/java/com/melot/kkgame/redis/external/RtmpAddress.java -text
src/main/java/com/melot/kkgame/redis/support/RedisCallback.java -text
src/main/java/com/melot/kkgame/redis/support/RedisException.java -text
src/main/java/com/melot/kkgame/redis/support/RedisTemplate.java -text
src/main/java/com/melot/kkgame/service/HallPageService.java -text
src/main/java/com/melot/kkgame/service/KgGiftService.java -text
src/main/java/com/melot/kkgame/service/RoomService.java -text
src/main/java/com/melot/kkgame/service/UserGambleService.java -text
src/main/java/com/melot/kkgame/service/UserService.java -text
src/main/java/com/melot/kktv/action/ActivityFunctions.java -text
src/main/java/com/melot/kktv/action/AssetFunctions.java -text
src/main/java/com/melot/kktv/action/BackgroundAction.java -text
src/main/java/com/melot/kktv/action/CallbackAction.java -text
src/main/java/com/melot/kktv/action/ChargingFunctions.java -text
src/main/java/com/melot/kktv/action/ConfigFunctions.java -text
src/main/java/com/melot/kktv/action/ConflictFunctions.java -text
src/main/java/com/melot/kktv/action/ConsumAction.java -text
src/main/java/com/melot/kktv/action/FamilyAction.java -text
src/main/java/com/melot/kktv/action/GameRankAction.java -text
src/main/java/com/melot/kktv/action/GuardFunctions.java -text
src/main/java/com/melot/kktv/action/GuessFunctions.java -text
src/main/java/com/melot/kktv/action/HallFunctions.java -text
src/main/java/com/melot/kktv/action/IndexFunctions.java -text
src/main/java/com/melot/kktv/action/MessageBoxFunctions.java -text
src/main/java/com/melot/kktv/action/MessageBoxV2Functions.java -text
src/main/java/com/melot/kktv/action/NewsFunctions.java -text
src/main/java/com/melot/kktv/action/NewsV2Functions.java -text
src/main/java/com/melot/kktv/action/NodeFunctions.java -text
src/main/java/com/melot/kktv/action/NoticeFunctions.java -text
src/main/java/com/melot/kktv/action/OtherFunctions.java -text
src/main/java/com/melot/kktv/action/PrivateLetterFunctions.java -text
src/main/java/com/melot/kktv/action/ProfileSecurityFunctions.java -text
src/main/java/com/melot/kktv/action/RedEnvelopeFunctions.java -text
src/main/java/com/melot/kktv/action/ResourceFunctions.java -text
src/main/java/com/melot/kktv/action/RoundRoomFunction.java -text
src/main/java/com/melot/kktv/action/SingleChatFunction.java -text
src/main/java/com/melot/kktv/action/TagFunctions.java -text
src/main/java/com/melot/kktv/action/TempFunctions.java -text
src/main/java/com/melot/kktv/action/TicketAction.java -text
src/main/java/com/melot/kktv/action/UserAssetAction.java -text
src/main/java/com/melot/kktv/action/UserLotteryPrizeFunctions.java -text
src/main/java/com/melot/kktv/action/UserRelationFunctions.java -text
src/main/java/com/melot/kktv/action/VideoFunctions.java -text
src/main/java/com/melot/kktv/context/ConfigContextListener.java -text
src/main/java/com/melot/kktv/domain/ActivityInfo.java -text
src/main/java/com/melot/kktv/domain/ActivityPlayInfo.java -text
src/main/java/com/melot/kktv/domain/AnnualRankFamily.java -text
src/main/java/com/melot/kktv/domain/BuyTicketHistory.java -text
src/main/java/com/melot/kktv/domain/CarConfigInfo.java -text
src/main/java/com/melot/kktv/domain/CarInfo.java -text
src/main/java/com/melot/kktv/domain/CarPriceInfo.java -text
src/main/java/com/melot/kktv/domain/ConfigGiftInfo.java -text
src/main/java/com/melot/kktv/domain/ExpConfInfo.java -text
src/main/java/com/melot/kktv/domain/HistTicketOpt.java -text
src/main/java/com/melot/kktv/domain/Honour.java -text
src/main/java/com/melot/kktv/domain/PreviewAct.java -text
src/main/java/com/melot/kktv/domain/RankDimensionInfo.java -text
src/main/java/com/melot/kktv/domain/RankPlayerInfo.java -text
src/main/java/com/melot/kktv/domain/RechargerPackage.java -text
src/main/java/com/melot/kktv/domain/StorehouseInfo.java -text
src/main/java/com/melot/kktv/domain/TagInfo.java -text
src/main/java/com/melot/kktv/domain/UserHatId.java -text
src/main/java/com/melot/kktv/domain/UserInfo.java -text
src/main/java/com/melot/kktv/lottery/ChristmasAt2015.java -text
src/main/java/com/melot/kktv/lottery/KkThree.java -text
src/main/java/com/melot/kktv/lottery/LovesAt2016.java -text
src/main/java/com/melot/kktv/lottery/WeeklyCheckIn.java -text
src/main/java/com/melot/kktv/model/Activity.java -text
src/main/java/com/melot/kktv/model/ActorGift.java -text
src/main/java/com/melot/kktv/model/Advert.java -text
src/main/java/com/melot/kktv/model/AllActivities.java -text svneol=unset#text/plain
src/main/java/com/melot/kktv/model/BuyProperties.java -text
src/main/java/com/melot/kktv/model/Car.java -text
src/main/java/com/melot/kktv/model/Catalog.java -text
src/main/java/com/melot/kktv/model/Confcu3gIp.java -text
src/main/java/com/melot/kktv/model/ConsumerRecord.java -text
src/main/java/com/melot/kktv/model/CouponCode.java -text
src/main/java/com/melot/kktv/model/EffectiveActivity.java -text
src/main/java/com/melot/kktv/model/Family.java -text
src/main/java/com/melot/kktv/model/FamilyApplicant.java -text
src/main/java/com/melot/kktv/model/FamilyHonor.java -text
src/main/java/com/melot/kktv/model/FamilyMatchChampion.java -text
src/main/java/com/melot/kktv/model/FamilyMatchRank.java -text
src/main/java/com/melot/kktv/model/FamilyMember.java -text
src/main/java/com/melot/kktv/model/FamilyPoster.java -text
src/main/java/com/melot/kktv/model/FansRankingItem.java -text
src/main/java/com/melot/kktv/model/Gift.java -text
src/main/java/com/melot/kktv/model/GiftRecord.java -text
src/main/java/com/melot/kktv/model/GuessInfo.java -text
src/main/java/com/melot/kktv/model/GuessOptionInfo.java -text
src/main/java/com/melot/kktv/model/HisPromote.java -text
src/main/java/com/melot/kktv/model/HistSimOrder.java -text
src/main/java/com/melot/kktv/model/Honor.java -text
src/main/java/com/melot/kktv/model/HotActivity.java -text svneol=unset#text/plain
src/main/java/com/melot/kktv/model/KkAssistor.java -text
src/main/java/com/melot/kktv/model/KkSystemNotice.java -text
src/main/java/com/melot/kktv/model/LiveRecord.java -text
src/main/java/com/melot/kktv/model/LuckyId.java -text
src/main/java/com/melot/kktv/model/MedalInfo.java -text
src/main/java/com/melot/kktv/model/MedalPrice.java -text
src/main/java/com/melot/kktv/model/MobileDevice.java -text
src/main/java/com/melot/kktv/model/News.java -text
src/main/java/com/melot/kktv/model/NewsComment.java -text
src/main/java/com/melot/kktv/model/NewsPraise.java -text
src/main/java/com/melot/kktv/model/NewsRewardRank.java -text svneol=unset#text/plain
src/main/java/com/melot/kktv/model/NewsTagConf.java -text
src/main/java/com/melot/kktv/model/NewsTagRes.java -text
src/main/java/com/melot/kktv/model/Notice.java -text
src/main/java/com/melot/kktv/model/Photo.java -text
src/main/java/com/melot/kktv/model/PhotoComment.java -text
src/main/java/com/melot/kktv/model/PictureURL.java -text
src/main/java/com/melot/kktv/model/PreviewAct.java -text
src/main/java/com/melot/kktv/model/PropPrice.java -text
src/main/java/com/melot/kktv/model/RankUser.java -text
src/main/java/com/melot/kktv/model/RechargeRecord.java -text
src/main/java/com/melot/kktv/model/RecommendedMessage.java -text
src/main/java/com/melot/kktv/model/RecommendedMsg.java -text
src/main/java/com/melot/kktv/model/ResCuSpOrder.java -text
src/main/java/com/melot/kktv/model/ResUserPromoto.java -text
src/main/java/com/melot/kktv/model/Room.java -text
src/main/java/com/melot/kktv/model/SmsConfig.java -text
src/main/java/com/melot/kktv/model/SysMsg.java -text
src/main/java/com/melot/kktv/model/Task.java -text
src/main/java/com/melot/kktv/model/UserGuessInfo.java -text
src/main/java/com/melot/kktv/model/UserId.java -text
src/main/java/com/melot/kktv/model/UserPromoteAccount.java -text
src/main/java/com/melot/kktv/model/Version.java -text
src/main/java/com/melot/kktv/model/WeekStarGift.java -text
src/main/java/com/melot/kktv/model/WinLotteryRecord.java -text
src/main/java/com/melot/kktv/payment/conf/PaymentActivityConf.java -text
src/main/java/com/melot/kktv/payment/conf/PaymentGradeConf.java -text
src/main/java/com/melot/kktv/payment/conf/PaymentInfoConf.java -text
src/main/java/com/melot/kktv/payment/conf/PaymentPackageConf.java -text
src/main/java/com/melot/kktv/payment/domain/ConfPaymentActivity.java -text
src/main/java/com/melot/kktv/payment/domain/ConfPaymentGrade.java -text
src/main/java/com/melot/kktv/payment/domain/ConfPaymentInfo.java -text
src/main/java/com/melot/kktv/payment/domain/ConfPaymentPackage.java -text
src/main/java/com/melot/kktv/payment/domain/PaymentPackageGift.java -text
src/main/java/com/melot/kktv/payment/functions/PaymentFunctions.java -text
src/main/java/com/melot/kktv/redis/ActivitySource.java -text
src/main/java/com/melot/kktv/redis/AppStatsSource.java -text
src/main/java/com/melot/kktv/redis/DragonBoatSource.java -text
src/main/java/com/melot/kktv/redis/FamilyApplySource.java -text
src/main/java/com/melot/kktv/redis/FamilyHonorSource.java -text
src/main/java/com/melot/kktv/redis/FamilyRoomSource.java -text
src/main/java/com/melot/kktv/redis/FamilySource.java -text
src/main/java/com/melot/kktv/redis/GameRankingSource.java -text
src/main/java/com/melot/kktv/redis/GiftRecordSource.java -text
src/main/java/com/melot/kktv/redis/GuessSource.java -text
src/main/java/com/melot/kktv/redis/HotDataSource.java -text
src/main/java/com/melot/kktv/redis/JedisPoolAgent.java -text
src/main/java/com/melot/kktv/redis/MatchSource.java -text
src/main/java/com/melot/kktv/redis/MedalSource.java -text
src/main/java/com/melot/kktv/redis/NewsSource.java -text
src/main/java/com/melot/kktv/redis/NewsV2Source.java -text
src/main/java/com/melot/kktv/redis/PrivateLetterSource.java -text
src/main/java/com/melot/kktv/redis/QQVipSource.java -text
src/main/java/com/melot/kktv/redis/RedisServiceKey.java -text
src/main/java/com/melot/kktv/redis/SearchWordsSource.java -text
src/main/java/com/melot/kktv/redis/UserRechargeSource.java -text
src/main/java/com/melot/kktv/redis/VideoSource.java -text
src/main/java/com/melot/kktv/redis/WeekGiftSource.java -text
src/main/java/com/melot/kktv/service/ConsumeService.java -text
src/main/java/com/melot/kktv/service/DataAcqService.java -text
src/main/java/com/melot/kktv/service/LiveVideoService.java -text
src/main/java/com/melot/kktv/service/NewsService.java -text
src/main/java/com/melot/kktv/service/ResourceService.java -text
src/main/java/com/melot/kktv/service/StatisticsServices.java -text
src/main/java/com/melot/kktv/service/TagService.java -text
src/main/java/com/melot/kktv/third/BaseService.java -text
src/main/java/com/melot/kktv/third/ThirdVerifyUtil.java -text
src/main/java/com/melot/kktv/third/service/AlipayService.java -text
src/main/java/com/melot/kktv/third/service/DidaService.java -text
src/main/java/com/melot/kktv/third/service/HaofangService.java -text
src/main/java/com/melot/kktv/third/service/KascendService.java -text
src/main/java/com/melot/kktv/third/service/MeiliaoService.java -text
src/main/java/com/melot/kktv/third/service/QQService.java -text
src/main/java/com/melot/kktv/third/service/QunduiService.java -text
src/main/java/com/melot/kktv/third/service/SweetOrangeService.java -text
src/main/java/com/melot/kktv/third/service/TongChengService.java -text
src/main/java/com/melot/kktv/third/service/WalaService.java -text
src/main/java/com/melot/kktv/third/service/WeiboService.java -text
src/main/java/com/melot/kktv/third/service/WeixinService.java -text
src/main/java/com/melot/kktv/util/Cache.java -text
src/main/java/com/melot/kktv/util/ChannelEnum.java -text
src/main/java/com/melot/kktv/util/CityUtil.java -text
src/main/java/com/melot/kktv/util/CollectionUtils.java -text
src/main/java/com/melot/kktv/util/ConfigHelper.java -text
src/main/java/com/melot/kktv/util/ConstantEnum.java -text
src/main/java/com/melot/kktv/util/DBEnum.java -text
src/main/java/com/melot/kktv/util/FamilyMemberEnum.java -text
src/main/java/com/melot/kktv/util/FamilyRankingEnum.java -text
src/main/java/com/melot/kktv/util/HttpClient.java -text
src/main/java/com/melot/kktv/util/JsonElementUtil.java -text
src/main/java/com/melot/kktv/util/LoginTypeEnum.java -text
src/main/java/com/melot/kktv/util/NewsTypeEnum.java -text
src/main/java/com/melot/kktv/util/PaginationUtil.java -text
src/main/java/com/melot/kktv/util/PaymentModeEnum.java -text
src/main/java/com/melot/kktv/util/RankingEnum.java -text
src/main/java/com/melot/kktv/util/ShareTypeEnum.java -text
src/main/java/com/melot/kktv/util/TagCodeEnum.java -text
src/main/java/com/melot/kktv/util/TlsSig.java -text
src/main/java/com/melot/kktv/util/UpgradeEnum.java -text
src/main/java/com/melot/kktv/util/confdynamic/CarConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/GiftInfoConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/InitConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/MedalConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/MedalPriceConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/SystemConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/ThirdAppConfig.java -text
src/main/java/com/melot/kktv/util/confdynamic/XmanConfig.java -text
src/main/java/com/melot/kktv/util/message/Message.java -text
src/main/java/com/melot/kktv/util/message/MessagePersistent.java -text
src/main/java/com/melot/module/msgbuilder/BaseAgent.java -text
src/main/java/com/tls/sigcheck/tls_sigcheck.java -text
src/main/java/com/unionpay/upmp/sdk/service/UpmpService.java -text
src/main/java/com/unionpay/upmp/sdk/util/HttpUtil.java -text
src/main/java/com/unionpay/upmp/sdk/util/UpmpCore.java -text
src/main/java/com/unionpay/upmp/sdk/util/UpmpMd5Encrypt.java -text svneol=unset#application/octet-stream
src/main/resources/META-INF/cat/client.xml -text
src/main/resources/META-INF/cat/config.xsd -text
src/main/resources/com/melot/kkcx/sqlmap/pg/Activity.xml -text
src/main/resources/com/melot/kkcx/sqlmap/pg/Emoticon.xml -text
src/main/resources/com/melot/kkcx/sqlmap/pg/NewsMessage.xml -text
src/main/resources/com/melot/kkcx/sqlmap/pg/Other.xml -text
src/main/resources/com/melot/kkcx/sqlmap/pg/actor.xml -text
src/main/resources/com/melot/kkgame/sqlmap/pg/User.xml -text
src/main/resources/com/melot/kkgame/sqlmap/pg/UserGamble.xml -text
src/main/resources/com/melot/kktv/sqlmap/ActorGift.xml -text
src/main/resources/com/melot/kktv/sqlmap/Album.xml -text
src/main/resources/com/melot/kktv/sqlmap/EffectiveActivities.xml -text
src/main/resources/com/melot/kktv/sqlmap/Exchange.xml -text
src/main/resources/com/melot/kktv/sqlmap/Family.xml -text
src/main/resources/com/melot/kktv/sqlmap/Guess.xml -text
src/main/resources/com/melot/kktv/sqlmap/Index.xml -text
src/main/resources/com/melot/kktv/sqlmap/KkAssistor.xml -text
src/main/resources/com/melot/kktv/sqlmap/KkSystemNotice.xml -text
src/main/resources/com/melot/kktv/sqlmap/Mobile.xml -text
src/main/resources/com/melot/kktv/sqlmap/News.xml -text
src/main/resources/com/melot/kktv/sqlmap/NewsTagConf.xml -text
src/main/resources/com/melot/kktv/sqlmap/NewsTagRes.xml -text
src/main/resources/com/melot/kktv/sqlmap/Other.xml -text
src/main/resources/com/melot/kktv/sqlmap/Profile.xml -text
src/main/resources/com/melot/kktv/sqlmap/RecommendedMessage.xml -text
src/main/resources/com/melot/kktv/sqlmap/Resource.xml -text
src/main/resources/com/melot/kktv/sqlmap/Tag.xml -text
src/main/resources/com/melot/kktv/sqlmap/Temp.xml -text
src/main/resources/com/melot/kktv/sqlmap/User.xml -text
src/main/resources/com/melot/kktv/sqlmap/UserMessage.xml -text
src/main/resources/com/melot/kktv/sqlmap/UserRelation.xml -text
src/main/resources/com/melot/kktv/sqlmap/slave/Index.xml -text
src/main/resources/com/melot/kktv/sqlmap/slave/Payment.xml -text
src/main/resources/com/melot/pg/sqlmap/Other.xml -text
src/main/resources/conf/SqlMapConfig-oracle_backup.xml -text
src/main/resources/conf/SqlMapConfig-oracle_master.xml -text
src/main/resources/conf/SqlMapConfig-pg_kkcx.xml -text
src/main/resources/conf/SqlMapConfig-pg_kkgame.xml -text
src/main/resources/conf/SqlMapConfig-pg_master.xml -text
src/main/resources/conf/SqlMapConfig-pg_slave.xml -text
src/main/resources/conf/lottery_conf.xml -text
src/main/resources/conf/spring-bean-container-client-config.xml -text
src/main/resources/conf/spring-bean-container-config.xml -text
src/main/resources/conf/spring-bean-container-datasource.xml -text
src/main/resources/conf/spring-bean-container-functag.xml -text
src/main/resources/conf/spring-bean-container-functions.xml -text
src/main/resources/conf/spring-bean-container-im-admin.xml -text
src/main/resources/conf/spring-bean-container-lottery.xml -text
src/main/resources/conf/spring-bean-container-moduleservices.xml -text
src/main/resources/conf/spring-bean-container-thirdservices.xml -text
src/main/resources/conf/spring-bean-container-tim-msg.xml -text
src/main/resources/conf/spring-bean-container.xml -text
src/main/resources/struts.xml -text
src/main/webapp/WEB-INF/JedisPoolConfig.xml -text
src/main/webapp/WEB-INF/config.xml -text
src/main/webapp/WEB-INF/ec_key.pem -text
src/main/webapp/WEB-INF/jnisigcheck.dll -text
src/main/webapp/WEB-INF/log4j.properties -text
src/main/webapp/WEB-INF/log4j.xml -text
src/main/webapp/WEB-INF/textFilter.data -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/WEB-INF/words.dict -text
src/main/webapp/change.log -text
src/main/webapp/code.txt -text
src/main/webapp/error.jsp -text
src/main/webapp/showpool.jsp -text
