<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- DBMS -->
	<bean id="dataSource_master" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.oracle.driverClassName}"/>
		<property name="url" value="${spring.ds.oracle.url}" />
		<property name="username" value="${spring.ds.oracle.username}"/>
		<property name="password" value="${spring.ds.oracle.password}"/>
		<property name="validationQuery" value="${spring.ds.oracle.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.oracle.poolPreparedStatements}"/>
		<property name="initialSize" value="${spring.ds.oracle.initialSize}"/>
		<property name="maxActive" value="${spring.ds.oracle.maxActive}"/>
		<property name="maxIdle" value="${spring.ds.oracle.maxIdle}"/>
		<property name="maxWait" value="${spring.ds.oracle.maxWait}" />
		<property name="minIdle" value="${spring.ds.oracle.minIdle}"/>
		<property name="numTestsPerEvictionRun" value="${spring.ds.oracle.numTestsPerEvictionRun}" />
		<property name="testWhileIdle" value="${spring.ds.oracle.testWhileIdle}" />
		<property name="testOnBorrow" value="${spring.ds.oracle.testOnBorrow}" />
		<property name="defaultAutoCommit" value="${spring.ds.oracle.defaultAutoCommit}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.oracle.timeBetweenLogStatsMillis}"/>
		<property name="filters" value="${spring.ds.oracle.filters}" />
	</bean>

	<bean id="dataSource_backup" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.oracle.slave.driverClassName}"/>
		<property name="url" value="${spring.ds.oracle.slave.url}" />
		<property name="username" value="${spring.ds.oracle.slave.username}"/>
		<property name="password" value="${spring.ds.oracle.slave.password}"/>
		<property name="validationQuery" value="${spring.ds.oracle.slave.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.oracle.slave.poolPreparedStatements}"/>
		<property name="initialSize" value="${spring.ds.oracle.slave.initialSize}"/>
		<property name="maxActive" value="${spring.ds.oracle.slave.maxActive}"/>
		<property name="maxIdle" value="${spring.ds.oracle.slave.maxIdle}"/>
		<property name="maxWait" value="${spring.ds.oracle.slave.maxWait}" />
		<property name="minIdle" value="${spring.ds.oracle.slave.minIdle}"/>
		<property name="numTestsPerEvictionRun" value="${spring.ds.oracle.slave.numTestsPerEvictionRun}" />
		<property name="testWhileIdle" value="${spring.ds.oracle.slave.testWhileIdle}" />
		<property name="testOnBorrow" value="${spring.ds.oracle.slave.testOnBorrow}" />
		<property name="defaultAutoCommit" value="${spring.ds.oracle.slave.defaultAutoCommit}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.oracle.slave.timeBetweenLogStatsMillis}"/>
		<property name="filters" value="${spring.ds.oracle.slave.filters}" />
	</bean>

	<bean id="dataSource_pg_master" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.pg.driverClassName}" />
		<property name="url" value="${spring.ds.pg.url}" />
		<property name="username" value="${spring.ds.pg.username}" />
		<property name="password" value="${spring.ds.pg.password}" />
		<property name="validationQuery" value="${spring.ds.pg.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.pg.poolPreparedStatements}" />
		<property name="initialSize" value="${spring.ds.pg.initialSize}" />
		<property name="maxActive" value="${spring.ds.pg.maxActive}" />
		<property name="maxWait" value="${spring.ds.pg.maxWait}" />
		<property name="testOnBorrow" value="${spring.ds.pg.testOnBorrow}" />
		<property name="testOnReturn" value="${spring.ds.pg.testOnReturn}" />
		<property name="testWhileIdle" value="${spring.ds.pg.testWhileIdle}" />
		<property name="defaultAutoCommit" value="${spring.ds.pg.defaultAutoCommit}" />
		<property name="filters" value="${spring.ds.pg.filters}" />
		<property name="minIdle" value="${spring.ds.pg.minIdle}" />
		<property name="numTestsPerEvictionRun" value="${spring.ds.pg.numTestsPerEvictionRun}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.pg.timeBetweenLogStatsMillis}" />
	</bean>

	<bean id="dataSource_pg_slave" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.pg.slave.driverClassName}" />
		<property name="url" value="${spring.ds.pg.slave.url}" />
		<property name="username" value="${spring.ds.pg.slave.username}" />
		<property name="password" value="${spring.ds.pg.slave.password}" />
		<property name="validationQuery" value="${spring.ds.pg.slave.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.pg.slave.poolPreparedStatements}" />
		<property name="initialSize" value="${spring.ds.pg.slave.initialSize}" />
		<property name="maxActive" value="${spring.ds.pg.slave.maxActive}" />
		<property name="maxWait" value="${spring.ds.pg.slave.maxWait}" />
		<property name="testOnBorrow" value="${spring.ds.pg.slave.testOnBorrow}" />
		<property name="testOnReturn" value="${spring.ds.pg.slave.testOnReturn}" />
		<property name="testWhileIdle" value="${spring.ds.pg.slave.testWhileIdle}" />
		<property name="defaultAutoCommit" value="${spring.ds.pg.slave.defaultAutoCommit}" />
		<property name="filters" value="${spring.ds.pg.slave.filters}" />
		<property name="minIdle" value="${spring.ds.pg.slave.minIdle}" />
		<property name="numTestsPerEvictionRun" value="${spring.ds.pg.slave.numTestsPerEvictionRun}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.pg.slave.timeBetweenLogStatsMillis}" />
	</bean>

	<bean id="dataSource_pg_kkgame" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.pg.kkgame.driverClassName}" />
		<property name="url" value="${spring.ds.pg.kkgame.url}" />
		<property name="username" value="${spring.ds.pg.kkgame.username}" />
		<property name="password" value="${spring.ds.pg.kkgame.password}" />
		<property name="validationQuery" value="${spring.ds.pg.kkgame.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.pg.kkgame.poolPreparedStatements}" />
		<property name="initialSize" value="${spring.ds.pg.kkgame.initialSize}" />
		<property name="maxActive" value="${spring.ds.pg.kkgame.maxActive}" />
		<property name="maxIdle" value="${spring.ds.pg.kkgame.maxIdle}" />
		<property name="maxWait" value="${spring.ds.pg.kkgame.maxWait}" />
		<property name="testOnBorrow" value="${spring.ds.pg.kkgame.testOnBorrow}" />
		<property name="testOnReturn" value="${spring.ds.pg.kkgame.testOnReturn}" />
		<property name="testWhileIdle" value="${spring.ds.pg.kkgame.testWhileIdle}" />
		<property name="defaultAutoCommit" value="${spring.ds.pg.kkgame.defaultAutoCommit}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.pg.kkgame.timeBetweenLogStatsMillis}"/>
		<property name="filters" value="${spring.ds.pg.kkgame.filters}" />
	</bean>

	<bean id="dataSource_pg_kkcx" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
		<property name="driverClassName" value="${spring.ds.pg.kkcx.driverClassName}" />
		<property name="url" value="${spring.ds.pg.kkcx.url}" />
		<property name="username" value="${spring.ds.pg.kkcx.username}" />
		<property name="password" value="${spring.ds.pg.kkcx.password}" />
		<property name="validationQuery" value="${spring.ds.pg.kkcx.validationQuery}" />

		<property name="poolPreparedStatements" value="${spring.ds.pg.kkcx.poolPreparedStatements}" />
		<property name="initialSize" value="${spring.ds.pg.kkcx.initialSize}" />
		<property name="maxActive" value="${spring.ds.pg.kkcx.maxActive}" />
		<property name="maxIdle" value="${spring.ds.pg.kkcx.maxIdle}" />
		<property name="maxWait" value="${spring.ds.pg.kkcx.maxWait}" />
		<property name="testOnBorrow" value="${spring.ds.pg.kkcx.testOnBorrow}" />
		<property name="testOnReturn" value="${spring.ds.pg.kkcx.testOnReturn}" />
		<property name="testWhileIdle" value="${spring.ds.pg.kkcx.testWhileIdle}" />
		<property name="defaultAutoCommit" value="${spring.ds.pg.kkcx.defaultAutoCommit}" />
		<property name="timeBetweenLogStatsMillis" value="${spring.ds.pg.kkcx.timeBetweenLogStatsMillis}"/>
		<property name="filters" value="${spring.ds.pg.kkcx.filters}" />
	</bean>

</beans>