<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" >
  	
  	<!-- kktv接口 -->
	<bean id="mobileFunction" class="com.melot.kkcx.functions.MobileFunctions" />
	<bean id="albumFunction" class="com.melot.kkcx.functions.AlbumFunctions" />
	
	<bean id="userFunction" class="com.melot.kkcx.functions.UserFunctions" />
	
	<bean id="profileFunction" class="com.melot.kkcx.functions.ProfileFunctions">
		<property name="liveTypeSource" ref="liveTypeSource" />
	</bean>
	
	<bean id="hallFunction" class="com.melot.kktv.action.HallFunctions"/>	
	<bean id="indexFunction" class="com.melot.kktv.action.IndexFunctions"/>	
	<bean id="familyFunction" class="com.melot.kktv.action.FamilyAction"/>
	<bean id="messageBoxV2Function" class="com.melot.kktv.action.MessageBoxV2Functions" />
	<bean id="userAssetFunction" class="com.melot.kktv.action.UserAssetAction" />
	<bean id="assetFunction" class="com.melot.kktv.action.AssetFunctions" />
	<bean id="backgroundFunction" class="com.melot.kktv.action.BackgroundAction" />
	
	<bean id="userRelationFunction" class="com.melot.kktv.action.UserRelationFunctions" />
	
	<bean id="activityFunction" class="com.melot.kktv.action.ActivityFunctions" />
	<bean id="chargingFunction" class="com.melot.kktv.action.ChargingFunctions" />
	<bean id="gameRankFunction" class="com.melot.kktv.action.GameRankAction" />
	<bean id="newsFunction" class="com.melot.kktv.action.NewsFunctions" />
	<bean id="newsV2Function" class="com.melot.kktv.action.NewsV2Functions" />
	<bean id="nodeFunction" class="com.melot.kktv.action.NodeFunctions" />
	
	<bean id="otherFunction" class="com.melot.kktv.action.OtherFunctions">
		<property name="actorInfoSource" ref="actorInfoSource" />
	</bean>
	
	<bean id="profileSecurityFunction" class="com.melot.kktv.action.ProfileSecurityFunctions" />
	<bean id="resourceFunction" class="com.melot.kktv.action.ResourceFunctions" />
	<bean id="userLotteryPrizeFunction" class="com.melot.kktv.action.UserLotteryPrizeFunctions" />
	<bean id="guardFunction" class="com.melot.kktv.action.GuardFunctions" />
	<bean id="redEnvelopeFunction" class="com.melot.kktv.action.RedEnvelopeFunctions" />
	<bean id="noticeFunction" class="com.melot.kktv.action.NoticeFunctions" />
	
	<!-- 大KK大厅接口================================================== -->
	<bean id="kkHallFunction" class="com.melot.kkcx.functions.KKHallFunctions" />
	
    <!-- 活动中心接口 -->
	<bean id="activityCenterFunctions" class="com.melot.kkcx.functions.ActivityCenterFunctions" />
	
    <!-- IM相关接口 -->
	<bean id="timFunctions" class="com.melot.kkcx.functions.TimFunctions" />
	
    <!-- 主播个性礼物接口 -->
	<bean id="actorGiftFunction" class="com.melot.kkcx.functions.ActorGiftFunctions" />
	
	<!-- 充值配置接口 -->
	<bean id="paymentFunctions" class="com.melot.kktv.payment.functions.PaymentFunctions" />
	
	<!-- FuncTag冲突配置接口 -->
	<bean id="conflictFunction" class="com.melot.kktv.action.ConflictFunctions" />
	
	<!-- kkGame接口 -->
  	
  	<!-- redis相关配置类 -->
  	<bean id="redisTemplate" class="com.melot.kkgame.redis.support.RedisTemplate" abstract="true" />
  	<bean id="actorInfoSource" class="com.melot.kkgame.redis.ActorInfoSource" parent="redisTemplate" />
  	<bean id="gamblingSource" class="com.melot.kkgame.redis.GamblingSource" parent="redisTemplate" />
  	<bean id="gameCenterSource" class="com.melot.kkgame.redis.GameCenterSource" parent="redisTemplate" />
  	<bean id="giftStarSource" class="com.melot.kkgame.redis.GiftStarSource" parent="redisTemplate" />
  	<bean id="hallPartSource" class="com.melot.kkgame.redis.HallPartSource" parent="redisTemplate" />
  	<bean id="liveTypeSource" class="com.melot.kkgame.redis.LiveTypeSource" parent="redisTemplate" />
  	<bean id="lotteryTaskSource" class="com.melot.kkgame.redis.LotteryTaskSource" parent="redisTemplate" />
  	<bean id="msgSource" class="com.melot.kkgame.redis.external.MessageSource" parent="redisTemplate" />
  	<bean id="rankingListSource" class="com.melot.kkgame.redis.RankingListSource" parent="redisTemplate" />

   	<!-- notification in room talk area -->
   	<bean id="roomMsgSource" class="com.melot.kkgame.redis.RoomMessageSource" parent="redisTemplate" />
  	
  	<bean id="signInTaskSource" class="com.melot.kkgame.redis.SignInTaskSource" parent="redisTemplate" />
  	<bean id="smsSource" class="com.melot.kkgame.redis.SmsSource" parent="redisTemplate" />
  	<bean id="userHotSource" class="com.melot.kkgame.redis.UserHotSource" parent="redisTemplate" />
  	<bean id="userPropSource" class="com.melot.kkgame.redis.UserPropSource" parent="redisTemplate" />
  	
  	<bean id="configSource" class="com.melot.kkgame.redis.external.ConfigSource" parent="redisTemplate" />
  	<bean id="giftSource" class="com.melot.kkgame.redis.external.GiftSource" parent="redisTemplate" />
  	<bean id="levelSource" class="com.melot.kkgame.redis.external.LevelSource" parent="redisTemplate" />
  	  	
  	<bean id="hallPageService" class="com.melot.kkgame.service.HallPageService" lazy-init="true" />
  	
  	<bean id="userGambleService" class="com.melot.kkgame.service.UserGambleService"/>
  	
	<bean id="activityGameFunction" class="com.melot.kkgame.action.ActivityFunction">
		<property name="rankingListSource" ref="rankingListSource" />
	</bean>
  	
  	<bean id="gameApiAction" class="com.melot.kkgame.action.GameApiAction" />
	<bean id="gameActivityAction" class="com.melot.kkgame.action.GameActivityAction" />
	
	<bean id="gameHallAction" class="com.melot.kkgame.action.HallFunction">
		<property name="hallPageService" ref="hallPageService"/>
  		<property name="hallPartSource" ref="hallPartSource"/>
  		<property name="roomSubCatalogService" ref="roomSubCatalogService"/>
  	</bean>
  	
	<bean id="gameHallFunction" class="com.melot.kkgame.action.GameHallFunction" />
	
	<bean id="rankingListFunction" class="com.melot.kkgame.action.RankingListFunction">
		<property name="rankingListSource" ref="rankingListSource" />
	</bean>
	
	<bean id="gameApplyFunction" class="com.melot.kkgame.action.external.GameApplyFunction" /> 
	<bean id="promotePartnerFunction" class="com.melot.kkgame.action.external.PromotePartnerFunction" />
	
	<bean id="gameTaskAction" class="com.melot.kkgame.action.GameTaskAction">
		<property name="signInTaskSource" ref="signInTaskSource"/>
  	</bean>
  	
	<bean id="eventFunction" class="com.melot.kkgame.action.sport.EventFunction" />
	
	<bean id="eventNewsFunction" class="com.melot.kkgame.action.sport.EventNewsFunction">
		<property name="eventNewsService" ref="eventNewsService"/>
	</bean>
	
	<bean id="weekStarFunction" class="com.melot.kkgame.action.WeekStarFunction">
		<property name="giftStarSource" ref="giftStarSource"/>
		<property name="giftStarRecordService" ref="giftStarRecordService"/>
	</bean>
	
	<bean id="pictureAlbumFunction" class="com.melot.kkgame.action.external.PictureAlbumFunction" />
	
	<!-- 增值游戏中心 -->
	<bean id="gameCenterFunction" class="com.melot.kkgame.action.GameCenterFunction" />
	
	<!-- 主播信息相关接口 -->
	<bean id="actorFunction" class="com.melot.kkgame.action.ActorFunction" />
	
	<!-- 活动相关接口 -->
	<bean id="rankFunction" class="com.melot.kkgame.action.RankFunction">
		<property name="rankingListSource" ref="rankingListSource" />
	</bean>
	
	<!-- 用户私信配置相关接口 -->
	<bean id="privateLetterFunction" class="com.melot.kktv.action.PrivateLetterFunctions" />
	
	<!-- 获取轮播房节目列表 -->
	<bean id="roundRoomFunction" class="com.melot.kktv.action.RoundRoomFunction" />
	
	<!-- 配置信息相关接口 -->
	<bean id="configFunctions" class="com.melot.kktv.action.ConfigFunctions" />
	
	<!-- 1v1视频相关接口 -->
	<bean id="singleChatFunction" class="com.melot.kktv.action.SingleChatFunction" />

	<!-- 资源相关接口 -->
	<bean id="resourceNewFunction" class="com.melot.kkcx.functions.ResourceFunctions" />

    <!-- 主播代言团相关接口 -->
    <bean id="actorKKTVFunction" class="com.melot.kktv.action.ActorFunction" />

    <!-- KK 奖励金相关接口 -->
    <bean id="bountyFunctions" class="com.melot.kkcx.functions.BountyFunctions" />
    
    <!-- 微信提现相关接口 -->
    <bean id="wechatCashFunctions" class="com.melot.kkcx.functions.WechatCashFunctions" />

	<bean id="videoBgmFunction" class="com.melot.kkcx.functions.VideoBgmFunctions" />

    <bean id="catchDollFunction" class="com.melot.kktv.action.CatchDollFunction" />
    
    <bean id="mallFunctions" class="com.melot.kkcx.functions.MallFunctions" />

    <!-- 一起玩大厅相关接口 -->
    <bean id="playTogetherFunction" class="com.melot.kktv.action.PlayTogetherFunction" />

    <!-- 欢乐跳舞机相关接口 -->
    <bean id="danceMachineFunction" class="com.melot.kktv.action.DanceMachineFunction" />
    
    <!-- 用户任务相关接口 -->
    <bean id="userTaskFunction" class="com.melot.kkcx.functions.UserTaskFunctions" />
    
    <!-- 新手引导相关接口 -->
	<bean id="newUserTaskFunctions" class="com.melot.kkcx.functions.NewUserTaskFunctions" />

    <!-- 欢乐PK(天梯赛)相关接口 -->
    <bean id="happyPKFunction" class="com.melot.kktv.action.HappyPKFunction" />

	<!-- 答题比赛相关接口 -->
    <bean id="quizFunctions" class="com.melot.kkcx.functions.QuizFunctions" />
    
    <!-- 答题比赛相关接口 -->
    <bean id="nobilityFunctions" class="com.melot.kkcx.functions.NobilityFunctions" />

	<!-- 消息乐相关接口 -->
	<bean id="gembinderFunctions" class="com.melot.kkcx.functions.GembinderFunctions" />

    <!-- 提现相关接口 -->
    <bean id="withdrawFunctions" class="com.melot.kktv.action.WithdrawFunctions" />

	<!-- 主播心愿商品【众筹】相关接口 -->
	<bean id="wishGoodsFunctions" class="com.melot.kkcx.functions.WishGoodsFunctions" />
	
	<!-- 直播购相关接口 -->
	<bean id="liveShopFunctions" class="com.melot.kkcx.functions.LiveShopFunctions" />

    <!-- 竞猜相关接口 -->
    <bean id="guessFunctions" class="com.melot.kktv.action.GuessFunctions" />
    
    <!-- 财富等级升级接口 -->
    <bean id="userLevelFunctions" class="com.melot.kkcx.functions.UserLevelFunctions" />


    <!-- 位置坐标相关接口 -->
    <bean id="locationFunctions" class="com.melot.kktv.action.LocationFunctions" />

    <!-- 乡镇微信小程序接口 -->
    <bean id="townProjectFunctions" class="com.melot.kktv.action.TownProjectFunctions" />

	<!-- 微信直播小程序接口 -->
	<bean id="kKLiveProjectFunctions" class="com.melot.kkcx.functions.KKLiveProjectFunctions" />

	<!-- 微信小程序接口 -->
	<bean id="wechatProjectFunctions" class="com.melot.kkcx.functions.WechatProjectFunctions" />
</beans>