<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:kkrpc="http://www.kktv1.com/schema/kkrpc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.kktv1.com/schema/kkrpc http://www.kktv1.com/schema/kkrpc/kkrpc.xsd">

	<!-- 配置应用名称、应用版本、负责人等服务治理信息 -->
	<kkrpc:application id="userapp" appname="meshow-api"
		author="kkapi" appversion="1.0.0"></kkrpc:application>

	<!-- 配置服务注册中心信息 -->
	<kkrpc:registry id="myregistry"
		address="${myregistry.address}"
		connecttimeout="10000" sessiontimeout="30000"></kkrpc:registry>

	<!-- <kkrpc:monitor name="mymonitor" interval="${monitor.interval}" timeout="${monitor.timeout}" 
		loadbalance="roundrobin"></kkrpc:monitor> -->

	<kkrpc:consumer timeout="8000" retries="3" loadbalance="roundrobin"
		cluster="failover" heartbeat="60000" heartbeattimeout="180000"
		connections="1" application="userapp" registry="myregistry" group="*"
		connecttimeout="3000"></kkrpc:consumer>

	<!-- 配置要发布的服务实现 -->
	<kkrpc:reference id="virtualIdService" interface="com.melot.asset.driver.service.VirtualIdService" version="1.0.2"></kkrpc:reference>
	<kkrpc:reference id="assetService" interface="com.melot.asset.driver.service.AssetService" version="1.0.2"></kkrpc:reference>
	<kkrpc:reference id="kkActivityService" interface="com.melot.kkactivity.driver.service.KkActivityService" version="1.0.5"></kkrpc:reference>
	<kkrpc:reference id="taskInterfaceService" interface="com.melot.module.task.driver.service.TaskInterfaceService" version="1.0.3"></kkrpc:reference>
	<kkrpc:reference id="activityMedalService" interface="com.melot.module.medal.driver.service.ActivityMedalService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="userMedalService" interface="com.melot.module.medal.driver.service.UserMedalService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="familyMedalService" interface="com.melot.module.medal.driver.service.FamilyMedalService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="kkUserService" interface="com.melot.kkcore.user.service.KkUserService" version="1.1.8"></kkrpc:reference>
	<kkrpc:reference id="accountSecurityService" interface="com.melot.kkcore.account.service.AccountSecurityService" version="1.0.8"></kkrpc:reference>
	<kkrpc:reference id="kkAccountService" interface="com.melot.kkcore.account.service.AccountService" version="1.0.8"></kkrpc:reference>
	<kkrpc:reference id="kkUserRelationService" interface="com.melot.kkcore.relation.service.UserRelationService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="kkActorRelationService" interface="com.melot.kkcore.relation.service.ActorRelationService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="showMoneyService" interface="com.melot.kk.showmoney.api.service.ShowMoneyService" version="1.0.3"></kkrpc:reference>
	<kkrpc:reference id="guardService" interface="com.melot.module.guard.driver.service.GuardService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="noticeService" interface="com.melot.notice.driver.service.NoticeService" version="1.0.4"></kkrpc:reference>
	<kkrpc:reference id="securityService" interface="com.melot.security.driver.service.SecurityService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="feedbackService" interface="com.melot.feedback.driver.service.FeedbackService" version="1.0.5"></kkrpc:reference>
	<kkrpc:reference id="blacklistService" interface="com.melot.blacklist.service.BlacklistService" version="1.0.4"></kkrpc:reference>
	<kkrpc:reference id="sunshineService" interface="com.melot.sunshine.service.SunshineService" version="1.0.1"></kkrpc:reference>
	<kkrpc:reference id="missionService" interface="com.melot.kk.activity.driver.MissionService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="familyDefineActivityService" interface="com.melot.kk.activity.service.FamilyDefineActivityService" version="1.0.18"></kkrpc:reference>
	<kkrpc:reference id="giftHistoryBoardService" interface="com.melot.kk.activity.service.GiftHistoryBoardService" version="1.0.18"></kkrpc:reference>
	<kkrpc:reference id="liveStreamConfigService" interface="com.melot.stream.driver.service.LiveStreamConfigService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="videoService" interface="com.melot.kk.opus.api.service.VideoService" version="1.0.2"></kkrpc:reference>
	<kkrpc:reference id="giftHistoryService" interface="com.melot.common.driver.service.GiftHistoryService" version="1.0.0"></kkrpc:reference>
	<!-- 商城模块 -->
	<kkrpc:reference id="carService" interface="com.melot.module.packagegift.driver.service.CarService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="histPackageDealService" interface="com.melot.module.packagegift.driver.service.HistPackageDealService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="packageDetailService" interface="com.melot.module.packagegift.driver.service.PackageDetailService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="packageInfoService" interface="com.melot.module.packagegift.driver.service.PackageInfoService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="rewardService" interface="com.melot.module.packagegift.driver.service.RewardService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="ticketService" interface="com.melot.module.packagegift.driver.service.TicketService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="vipService" interface="com.melot.module.packagegift.driver.service.VipService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="xmanService" interface="com.melot.module.packagegift.driver.service.XmanService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="mallService" interface="com.melot.module.packagegift.driver.service.MallService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="storehouseService" interface="com.melot.storehouse.service.StorehouseService" version="1.0.2"></kkrpc:reference>
	<!-- 家族模块 -->
	<kkrpc:reference id="newFamilyInfoService" interface="com.melot.family.driver.service.FamilyInfoService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="familyAdminService" interface="com.melot.family.driver.service.FamilyAdminService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="familyOperatorService" interface="com.melot.family.driver.service.FamilyOperatorService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="familyAdminNewService" interface="com.melot.family.driver.service.FamilyAdminNewService" version="1.0.0" timeout="16000"></kkrpc:reference>
	<kkrpc:reference id="familyTopConfService" interface="com.melot.family.driver.service.FamilyTopConfService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="familyUserService" interface="com.melot.family.driver.service.FamilyUserService" version="1.0.0"></kkrpc:reference>

	<kkrpc:reference id="operatorService" interface="com.melot.cms.admin.api.service.OperatorService" version="1.0.0"></kkrpc:reference>

	<!-- cms 管理模块 -->
	<kkrpc:reference id="upIdfaService" interface="com.melot.ios.idfa.driver.UpIdfaService" version="1.0.0"></kkrpc:reference>

	<!-- 用户私信设置模块 -->
	<kkrpc:reference id="privateLetterService" interface="com.melot.letter.driver.service.PrivateLetterService" version="1.0.0"></kkrpc:reference>

	<!-- 敏感词模块 -->
	<kkrpc:reference id="chatAnalyzerService" interface="com.melot.chat.service.ChatAnalyzerService" version="1.0.4"></kkrpc:reference>
	<kkrpc:reference id="privateChatAnalyzerService" interface="com.melot.chat.service.PrivateChatAnalyzerService" version="1.0.4"></kkrpc:reference>

	<!-- 轮播房 -->	
	<kkrpc:reference id="roundRoomService" interface="com.melot.round.driver.service.RoundRoomService"  version="1.0.0"></kkrpc:reference>
	
	<kkrpc:reference id="posterService" interface="com.melot.module.poster.driver.service.PosterService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="ipRepositoryService" interface="com.melot.module.iprepository.driver.service.IpRepositoryService" version="1.0.0"></kkrpc:reference>
	
	<kkrpc:reference id="starService" interface="com.melot.common.driver.service.StarService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="shareService" interface="com.melot.common.driver.service.ShareService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="roomExtendConfService" interface="com.melot.common.driver.service.RoomExtendConfService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="videoInfoService" interface="com.melot.video.driver.service.VideoInfoService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="videoInfoServiceNew" interface="com.melot.video.driver.service.VideoInfoServiceNew" version="1.0.0"></kkrpc:reference>
	<!-- 配置信息 -->
	<kkrpc:reference id="configInfoService" interface="com.melot.kk.config.api.service.ConfigInfoService" version="1.0.1"></kkrpc:reference>
    <kkrpc:reference id="playbackActorService" interface="com.melot.kk.config.api.service.PlaybackActorService" version="1.0.0"></kkrpc:reference>
	<kkrpc:reference id="friendEmoticonService" interface="com.melot.common.driver.service.FriendEmoticonService" version="1.0.0"></kkrpc:reference>

    <!-- 礼物配置信息 -->
	<kkrpc:reference id="giftListService" interface="com.melot.room.gift.service.GiftListService" version="1.0.9"></kkrpc:reference>
    <kkrpc:reference id="roomGiftService" interface="com.melot.room.gift.service.RoomGiftService" version="1.0.9"></kkrpc:reference>
	<!-- 主播心愿礼物 -->
	<kkrpc:reference id="actorPersonalizedGiftService" interface="com.melot.room.gift.service.ActorPersonalizedGiftService" version="1.0.9"></kkrpc:reference>
	
	<!-- 动态模块 -->
	<kkrpc:reference id="newsCenter" interface="com.melot.news.service.NewsService" version="1.2.3"></kkrpc:reference>
	<!-- 1v1视频聊天服务 -->
	<kkrpc:reference id="singleChatService" interface="com.melot.singlechat.driver.service.SingleChatService" version="1.0.0"/>
 	<kkrpc:reference id="singleChatServerService" interface="com.melot.singlechat.driver.service.SingleChatServerService" version="1.0.1"/>
 
    <!-- 主播模块 -->
    <kkrpc:reference id="areaNewActorsService" interface="com.melot.common.driver.service.AreaNewActorsService" version="1.0.0" ></kkrpc:reference>

	<kkrpc:reference id="resourceNewService" interface="com.melot.kk.module.resource.service.ResourceNewService" version="1.0.2" />

    <!-- 主播代言团服务 -->
	<kkrpc:reference id="shareActivityService" interface="com.melot.share.driver.service.ShareActivityService" version="1.0.2"/>

    <kkrpc:reference id="reportFlowService" interface="com.melot.kk.module.report.service.ReportFlowService" version="1.0.0" />
	<!-- IM消息服务 -->
	<kkrpc:reference id="timSystemService" interface="com.melot.client.api.TimSystemService" version="1.0.0"/>

    <!-- 短信服务 -->
    <kkrpc:reference id="smsService" interface="com.melot.sms.api.service.SmsService" version="1.0.1"/>

	<kkrpc:reference id="videoBgmService" interface="com.melot.common.driver.service.VideoBgmService" version="1.0.0" />
	<kkrpc:reference id="gameConfigService" interface="com.melot.kkactivity.driver.service.GameConfigService" version="1.0.1" />
	
	<kkrpc:reference id="bountyService" interface="com.melot.kk.bounty.api.service.BountyService" version="1.0.0" />
	<!-- 登录相关模块 -->
	<kkrpc:reference id="otherLoginService" interface="com.melot.kk.otherlogin.api.service.OtherLoginService" version="1.0.1" />

    <!-- 抓娃娃模块 -->
    <kkrpc:reference id="dollMachineService" interface="com.melot.kk.doll.api.service.DollMachineService" version="1.0.0" />
    <kkrpc:reference id="catchDollRecordService" interface="com.melot.kk.doll.api.service.CatchDollRecordService" version="1.0.0" />

	<kkrpc:reference id="danceService" interface="com.melot.kk.dance.api.service.DanceService" version="1.0.0" />
    <!-- 主播模块 -->
    <kkrpc:reference id="actorService" interface="com.melot.kkcore.actor.service.ActorService" version="1.1.0" />

	<kkrpc:reference id="bountyQuestionService" interface="com.melot.kk.bounty.api.service.BountyQuestionService" version="1.0.0" />
	
	<!-- 金币模块 -->
	<kkrpc:reference id="goldcoinService" interface="com.melot.goldcoin.service.GoldcoinService" version="1.0.1"/>

	<!-- 新手引导模块 -->
	<kkrpc:reference id="newUserTaskService" interface="com.melot.kkactivity.driver.service.NewUserTaskService" version="1.0.1"/>

    <!-- 大数据推荐算法模块 -->
    <kkrpc:reference id="newRcmdService" interface="com.melot.kk.demo.api.service.NewRcmdService" version="1.0.0"></kkrpc:reference>

    <!-- 欢乐PK模块 -->
    <kkrpc:reference id="confLadderMatchService" interface="com.melot.kk.nationalPK.api.service.ConfLadderMatchService" version="1.0.0"></kkrpc:reference>
    <kkrpc:reference id="resActorLadderMatchService" interface="com.melot.kk.nationalPK.api.service.ResActorLadderMatchService" version="1.0.0"></kkrpc:reference>
    <kkrpc:reference id="histActorLadderMatchService" interface="com.melot.kk.nationalPK.api.service.HistActorLadderMatchService" version="1.0.0"></kkrpc:reference>

	<!-- WEB大厅皮肤服务 -->
	<kkrpc:reference id="webSkinConfService" interface="com.melot.kk.hall.api.service.WebSkinConfService" version="1.0.1"/>
	<!-- 答题比赛模块 -->
	<kkrpc:reference id="quizActivityService" interface="com.melot.kk.quiz.api.service.QuizActivityService" version="1.0.0"/>
	
	<!-- 贵族模块 -->
	<kkrpc:reference id="nobilityService" interface="com.melot.kk.nobility.api.service.NobilityService" version="1.0.1"/>

	<!-- 用户安全模块 -->
	<kkrpc:reference id="userVerifyService" interface="com.melot.kk.userSecurity.api.service.UserVerifyService" version="1.0.0"/>
	<kkrpc:reference id="actorWithdrawService" interface="com.melot.kk.userSecurity.api.service.ActorWithdrawService" version="1.0.0"/>
	<kkrpc:reference id="userBankService" interface="com.melot.kk.userSecurity.api.service.UserBankService" version="1.0.0"/>
	<kkrpc:reference id="zmrzApplyService" interface="com.melot.kk.userSecurity.api.service.ZmrzApplyService" version="1.0.0"/>

	<!-- 新家族模块 -->
	<kkrpc:reference id="userApplyActorService" interface="com.melot.family.driver.service.UserApplyActorService" version="1.0.0"/>

	<!-- 消消乐 -->
	<kkrpc:reference id="gembinderService" interface="com.melot.kkactivity.driver.service.GembinderService" version="1.0.1"/>
	
	<!-- 众筹【心愿礼物】模块 -->
	<kkrpc:reference id="crowdFundingService" interface="com.melot.kk.crowdfunding.api.service.CrowdFundingService" version="1.0.0"/>
	
	<!-- 用户收货地址信息 -->
	<kkrpc:reference id="userAddressService" interface="com.melot.kk.logistics.api.service.UserAddressService" version="1.0.0"/>
	
	<!-- 直播购服务 -->
	<kkrpc:reference id="liveShopService" interface="com.melot.kk.liveshop.api.service.LiveShopService" version="1.0.3"/>
	
	<kkrpc:reference id="rechargeService" interface="com.melot.kk.recharge.api.service.RechargeService" version="1.0.1"/>

	<!-- 贵族积分礼物服务 -->
	<kkrpc:reference id="nobilityPointGiftService" interface="com.melot.kk.nobility.api.service.NobilityPointGiftService" version="1.0.0"/>
	
	<!-- 区域化开屏页服务 -->
	<kkrpc:reference id="openPageService" interface="com.melot.kk.config.api.service.OpenPageService" version="1.0.0"/>
	<!-- 大厅模块 -->
	<kkrpc:reference id="hallRoomService" interface="com.melot.kk.hall.api.service.HallRoomService" version="1.0.0"/>
	<kkrpc:reference id="hallPartService" interface="com.melot.kk.hall.api.service.SysMenuService" version="1.0.1"/>
	<kkrpc:reference id="hallHomeService" interface="com.melot.kk.hall.api.service.HomeService" version="1.0.0"/>

    <!-- 竞猜模块 -->
    <kkrpc:reference id="guessAccountService" interface="com.melot.kk.guess.api.service.GuessAccountService" version="1.0.0" timeout="24000"/>
    <kkrpc:reference id="guessConfService" interface="com.melot.kk.guess.api.service.GuessConfService" version="1.0.0"/>
    <kkrpc:reference id="guessHistService" interface="com.melot.kk.guess.api.service.GuessHistService" version="1.0.0"/>

    <!-- 物流模块 -->
    <kkrpc:reference id="histDeliveryService" interface="com.melot.kk.logistics.api.service.HistDeliveryService" version="1.0.0"/>
	
	<!-- 用户等级升级模块 -->
    <kkrpc:reference id="userLevelRedEvelopeService" interface="com.melot.kk.userLevelUp.api.service.UserLevelRedEvelopeService" version="1.0.0"/>
    
    <!-- 用户开播记录-->
    <kkrpc:reference id="liveRecordService" interface="com.melot.room.live.record.service.LiveRecordService" version="1.0.2"/>

	<!-- 新版红包模块 -->
	<kkrpc:reference id="redEnvelopersService" retries="0" interface="com.melot.redenvelopers.driver.service.RedEnvelopersService" version="1.0.0"></kkrpc:reference>
	
	<kkrpc:reference id="confMedalService" interface="com.melot.module.medal.driver.service.ConfMedalService" version="1.0.0"></kkrpc:reference>


	<kkrpc:reference id="feedbackInfoService" interface="com.melot.kk.module.report.service.FeedbackInfoService" version="1.0.0"></kkrpc:reference>

    <!-- 用户官方信息模块 -->
    <kkrpc:reference id="adminDataService" interface="com.melot.cms.admin.api.service.AdminDataService" version="1.0.0"></kkrpc:reference>

	<!-- 活动API服务 -->
	<kkrpc:reference id="newMissionService" interface="com.melot.kk.activityAPI.api.service.NewMissionService" version="1.0.0"></kkrpc:reference>
	
	<kkrpc:reference id="recommendedMsgService" interface="com.melot.kk.message.api.service.RecommendedMsgService" version="1.0.0"/>
	<kkrpc:reference id="messageService" interface="com.melot.common.driver.service.MessageService" version="1.0.0"/>


    <!-- 位置坐标模块 -->
    <kkrpc:reference id="locationService" interface="com.melot.kk.location.api.service.LocationService" version="1.0.0" />

    <!-- 乡镇微信小程序模块 -->
    <kkrpc:reference id="townWorkService" interface="com.melot.kk.town.api.service.TownWorkService" version="1.0.0" />
    <kkrpc:reference id="townTopService" interface="com.melot.kk.town.api.service.TownTopService" version="1.0.0" />
    <kkrpc:reference id="townUserService" interface="com.melot.kk.town.api.service.TownUserService" version="1.0.0" />
    <kkrpc:reference id="townUserRoleService" interface="com.melot.kk.town.api.service.TownUserRoleService" version="1.0.0" />
    <kkrpc:reference id="tagService" interface="com.melot.kk.town.api.service.TagService" version="1.0.0" />
	<kkrpc:reference id="townStarApplyInfoService" interface="com.melot.kk.town.api.service.TownStarApplyInfoService" version="1.0.0" />
	<kkrpc:reference id="areaBannerService" interface="com.melot.kk.town.api.service.AreaBannerService" version="1.0.0" />
    <kkrpc:reference id="townMessageService" interface="com.melot.kk.town.api.service.TownMessageService" version="1.0.0" />
	<kkrpc:reference id="townCommentService" interface="com.melot.kk.town.api.service.TownCommentService" version="1.0.0" />

    <!-- 微信直播小程序服务 -->
	<kkrpc:reference id="liveProjectService" interface="com.melot.kk.liveproject.api.service.LiveProjectService" version="1.0.0"/>

	<!-- 微信小程序服务 -->
	<kkrpc:reference id="wechatPromoteService" interface="com.melot.kk.wechatProject.api.Service.WechatPromoteService" version="1.0.0"/>
</beans>