<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="appId" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="1" />
	</bean>
	
	<bean id="channelId" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="100" />
	</bean>
	
	<bean id="httpdir" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="${httpdir}" />
	</bean>
	
	<bean id="mcmURL" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="${mcmURL}" />
	</bean>
	
	<bean id="mfsURL" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="${mfsURL}" />
	</bean>
	
	<bean id="versionSavePath" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="/data/app/upload/apk" />
	</bean>
	
	<bean id="crashSavePath" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="/data/app/upload/crash" />
	</bean>
	
	<!-- 私聊活动默认desc描述 -->
	<bean id="singleChatActiveDefaultDesc" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="你有免费体验券可以领取" />
	</bean>
	
	<bean id="httpdirUp" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="${httpdirUp}" />
	</bean>
</beans>