<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd  
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="imAdminList" class="com.melot.kkcx.model.ImAdminList">
		<property name="list">
			<map>
				<entry key="1" value-ref="admin1" />
				<entry key="2" value-ref="admin2" />
				<entry key="3" value-ref="admin3" />
				<entry key="4" value-ref="admin4" />
				<entry key="5" value-ref="admin5" />
				<entry key="6" value-ref="admin6" />
				<entry key="7" value-ref="admin7" />
				<entry key="8" value-ref="admin8" />
			</map>
		</property>
	</bean>

	<bean id="admin1" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="1" />
		<property name="nickName" value="KK小秘书" />
		<property name="portrait" value="/imadmin/1.png" />
	</bean>
	
	<bean id="admin2" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="2" />
		<property name="nickName" value="动态评论" />
		<property name="portrait" value="/imadmin/2.png" />
	</bean>
	
	<bean id="admin3" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="3" />
		<property name="nickName" value="活动通知" />
		<property name="portrait" value="/imadmin/3.png" />
	</bean>
	
	<bean id="admin4" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="4" />
		<property name="nickName" value="家族主播管理" />
		<property name="portrait" value="/imadmin/8.png" />
	</bean>
	
	<bean id="admin5" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="5" />
		<property name="nickName" value="系统消息" />
		<property name="portrait" value="/imadmin/5.png" />
	</bean>
	
	<bean id="admin6" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="6" />
		<property name="nickName" value="新鲜播报" />
		<property name="portrait" value="/imadmin/6.png" />
	</bean>
	
	<bean id="admin7" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="7" />
		<property name="nickName" value="赞" />
		<property name="portrait" value="/imadmin/7.png" />
	</bean>

	<bean id="admin8" class="com.melot.kkcx.model.ImAdmin">
		<property name="userId"   value="8" />
		<property name="nickName" value="K宝小助手" />
		<property name="portrait" value="/imadmin/8.png" />
	</bean>
</beans>