<?xml version="1.0"?>
<config>
	
	<roomLiveRecordUrl>http://node01.kktv2.com:8080/recorderServer/services/event/play</roomLiveRecordUrl>
	
	<kkApiAddress>http://kkapi1.kktv2.com:8080/meShow/entrance</kkApiAddress>
	
	<kkgameActivity>http://kkapi1.kktv2.com:8081/activity/services</kkgameActivity>
	
	<appId>1</appId>
	<!-- 是否部允许署多个app 0：允许部署多个app，1： 只能部署一个app -->
	<moreAppFlag>0</moreAppFlag>

    <httpdir>http://ures.kktv8.com/kktv</httpdir>
	<mediahttpdir>http://mres.kktv8.com/kktv</mediahttpdir>
	
	<!-- zookeeper -->
	<zkServices>zk1.kktv2.com:2181,zk2.kktv2.com:2181,zk3.kktv2.com:2181</zkServices>
	<nodeName>config</nodeName>
	
	 <!-- 存储通用数据 mongodb -->
     <commonMongoIPPort>mons.kktv2.com:4001</commonMongoIPPort>
     <!-- <commonMongoPort>4001</commonMongoPort> -->
     <!-- 存储排行榜数据 mongodb -->
     <cacheMongoIPPort>mons.kktv2.com:4001</cacheMongoIPPort>
     <!-- <cacheMongoPort>4001</cacheMongoPort> -->
     <connectionsPerHost>30</connectionsPerHost>
     <connectTimeout>120000</connectTimeout>
     <threadsAllowedToBlockForConnectionMultiplier>20</threadsAllowedToBlockForConnectionMultiplier>
     <commonDB>meshow</commonDB>
     <cacheDB>meshowcache</cacheDB>

    <!-- 正式服地址 http://192.168.100.2:60000/mcm/ -->
    <mcmURL>http://10.0.13.33:60000/mcm/</mcmURL>
    <mfsURL>http://10.0.13.33:60001/mfs/</mfsURL>
    
    <vip0>100001</vip0>
	<vip0kickout>5</vip0kickout>
	<vip0shutup>5</vip0shutup>
	<vip1>100002</vip1>
	<vip1kickout>0</vip1kickout>
	<vip1shutup>0</vip1shutup>
	
	<parkCarResURL>http://rescdn.kktv8.com/kktv/car/big/</parkCarResURL>
	<parkLogoResURL>http://rescdn.kktv8.com/kktv/car/logo/</parkLogoResURL>
	<vipResURL>http://rescdn.kktv8.com/kktv/icon/iphone/vip/</vipResURL>
	<vipWebResURL>http://rescdn.kktv8.com/kktv/icon/web/vip/</vipWebResURL>
	
	<parkCarAndroidResURL>http://rescdn.kktv8.com/kktv/car/big/</parkCarAndroidResURL>
	<parkLogoAndroidResURL>http://rescdn.kktv8.com/kktv/car/logo/</parkLogoAndroidResURL>
	<vipAndroidResURL>http://rescdn.kktv8.com/kktv/icon/android/vip/</vipAndroidResURL>
	
	<giftIconAndroidResURL>http://rescdn.kktv8.com/kktv/icon/android/gift/icon/</giftIconAndroidResURL>
	<giftGifAndroidResURL>http://rescdn.kktv8.com/kktv/icon/android/gift/gif/</giftGifAndroidResURL>
	<giftIconIphoneResURL>http://rescdn.kktv8.com/kktv/icon/iphone/gift/icon/</giftIconIphoneResURL>
	<giftGifIphoneResURL>http://rescdn.kktv8.com/kktv/icon/iphone/gift/gif/</giftGifIphoneResURL>
	<giftSmallIconIphoneResURL>http://rescdn.kktv8.com/kktv/icon/iphone/gift/smallIcon/</giftSmallIconIphoneResURL>
	<giftSmallIconAndroidResURL>http://rescdn.kktv8.com/kktv/icon/android/gift/smallIcon/</giftSmallIconAndroidResURL>
	<giftSmallIconIphoneResURL>http://rescdn.kktv8.com/kktv/icon/iphone/gift/smallIcon/</giftSmallIconIphoneResURL>	
	
	<versionSeverURL>http://www.kktv1.com/Share/download/kktv.apk</versionSeverURL>
	<versionSavePath>/data/app/upload/apk</versionSavePath>
	
	<crashSavePath>/data/app/upload/crash</crashSavePath>
	
	<!-- 支付客户端的IP地址 -->
	<allowedPayClientIp>10.0.13.29</allowedPayClientIp>
	<allowedPayClientIp>10.0.13.1</allowedPayClientIp>
	<!-- 注册客户端的IP地址 -->
        <allowedRegisterClientIp>10.0.13.1</allowedRegisterClientIp>
        <allowedRegisterClientIp>192.168.100.43</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.38</allowedRegisterClientIp>
   	    <allowedRegisterClientIp>192.168.100.82</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.83</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.22</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.55</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.27</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.71</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.72</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.80</allowedRegisterClientIp>
    	<allowedRegisterClientIp>192.168.100.81</allowedRegisterClientIp>
	<allowedRegisterClientIp>192.168.100.62</allowedRegisterClientIp>
	<allowedRegisterClientIp>192.168.100.61</allowedRegisterClientIp>
	<allowedRegisterClientIp>192.168.100.77</allowedRegisterClientIp>

	<!-- 移动端银联支付配置 -->
	<upVersion>1.0.0</upVersion>
	<upSecurityKey>4wgOpUyiWDvmFvfpe0Dh5xDepagCzMqc</upSecurityKey>
	<upMerchantId>102330148160008</upMerchantId>
	<upResponseCodeSuccess>00</upResponseCodeSuccess>
	<upOrderDescription>移动银联充值</upOrderDescription>
	<upTradeUrl>https://202.96.255.146/gateway/merchant/trade</upTradeUrl>
	<upQueryUrl>https://202.96.255.146/gateway/merchant/query</upQueryUrl>
	<upBackendUrl>http://api.kktv1.com:8080/meShow/affirmUnionPayCharge</upBackendUrl>
	
	<!-- WEB前台活动与公告模板URL配置 -->
	<activityUrl>http://www.kktv1.com/Notice/play/id/</activityUrl>
	<noticeUrl>http://www.kktv1.com/Notice/index/id/</noticeUrl>
	
	<!-- 获取指定时间段单种礼物收到和送出排行活动,刷新间隔 (s)-->
	<giftCompeteRefreshIntervel>10</giftCompeteRefreshIntervel>

	<!-- 记录调用接口开关 true/false-->
	<recordCallInterface>false</recordCallInterface>

	<!-- 房间粉丝排行榜刷新间隔时间12时(12*3600s) -->
	<roomFansRankingIntervel>43200</roomFansRankingIntervel>
	
	<!-- redis中活跃用户数据过期时间30天(30*24*3600s) -->
	<redisUserDataExpireTime>2592000</redisUserDataExpireTime>
	<!-- 苹果支付清单验证URL https://buy.itunes.apple.com/verifyReceipt -->
	<appleStoreVerifyUrl>https://buy.itunes.apple.com/verifyReceipt</appleStoreVerifyUrl>
	
	<!-- 苹果支付产品列表 -->
	<!--
	<appleChargeProduct>
		<product id="com.KKTV.06">6</product>
		<product id="com.KKTV.12">12</product>
		<product id="com.KKTV.30">30</product>
		<product id="com.KKTV.50">50</product>
		<product id="com.KKTV.98">98</product>
		<product id="com.KKTV.198">198</product>
		<product id="com.KKTV.298">298</product>
		<product id="com.KKTV.488">488</product>
	</appleChargeProduct>
	-->
	<iphoneChargeProduct>
		<product id="com.KKTV.06">6</product>
		<product id="com.KKTV.12">12</product>
		<product id="com.KKTV.30">30</product>
		<product id="com.KKTV.50">50</product>
		<product id="com.KKTV.98">98</product>
		<product id="com.KKTV.198">198</product>
		<product id="com.KKTV.298">298</product>
        	<product id="com.KKTV.488">488</product>
	</iphoneChargeProduct>
	<ipadChargeProduct>
		<product id="com.KKTVHD.06">6</product>
		<product id="com.KKTVHD.12">12</product>
		<product id="com.KKTVHD.30">30</product>
		<product id="com.KKTVHD.50">50</product>
		<product id="com.KKTVHD.98">98</product>
		<product id="com.KKTVHD.198">198</product>
		<product id="com.KKTVHD.298">298</product>
		<product id="com.KKTVHD.488">488</product>
	</ipadChargeProduct>
	<!-- 每日签到任务奖励 -->
	<checkinReward>
		<reward id="1">20</reward>
		<reward id="2">30</reward>
		<reward id="3">50</reward>
	</checkinReward>
	
	<!-- 向web推送更新接口CDN消息 -->
	<notifyWebUrl>http://www.kktv1.com/CDN/refresh/I/</notifyWebUrl>

	<!-- 注册安全唯一码Redis保留时间	2小时(7200s) -->
	<redisSecurityUUIDExpireTime>7200</redisSecurityUUIDExpireTime>
	<!-- 客户端安全唯一码有效时间		1小时(3600ms) -->
	<clientSecurityUUIDActiveTime>3600000</clientSecurityUUIDActiveTime>
	
	<!-- DES密钥 -->
	<desSecurityKey>01e49c05</desSecurityKey>	

	<!-- 一定时间内各礼物总价值排名Redis过期时间	(60s) -->
	<periodGiftRankingExpireTime>60</periodGiftRankingExpireTime>

	<!-- 定时更新MongoDB中家族成员信息时间10分钟	(600*1000ms) -->
	<periodFamilyMemberUpdateTime>600000</periodFamilyMemberUpdateTime>

	<!-- 定时刷新家族主播房间列表定时器过期时间 Redis过期时间	(180s) -->
	<periodFamilyRoomRefreshExpireTime>180</periodFamilyRoomRefreshExpireTime>

	<!-- Web安全接口签名密码 -->
	<webseckey0>0bae24dc39f56178</webseckey0>
	
	<!-- Web安全接口用户名密码加密密码 -->
	<webseckey1>K2DEZMIU7OP13YJ8</webseckey1>
	
	<!-- 定时刷新家族擂台赛往期数据过期时间 Redis过期时间	(28800s) -->
	<familyMatchCacheRefreshExpireTime>28800</familyMatchCacheRefreshExpireTime>
	
	<!-- 消息系统 -->
	<MessageSystem>
		<FirstLastReadTime>1386000000000</FirstLastReadTime>
		<CycleEffRedisActIds>1800000</CycleEffRedisActIds>
		<CycleGenAct>1800000</CycleGenAct>
	</MessageSystem>
	
	<!-- 动态打赏排行活动,刷新间隔 (s)-->
	<newsRewardRankRefreshIntervel>15</newsRewardRankRefreshIntervel>
	
	<!-- 联通流量包 免流量地址 111.206.133.6 111.206.133.7 -->
	<chinaUnicomFreeFlowIp>
		<ip>111.206.133.6</ip>
		<ip>111.206.133.7</ip>
	</chinaUnicomFreeFlowIp>
	<!-- 联通流量包 CP标识 -->
	<chinaUnicomCpid>kkcx</chinaUnicomCpid>
	<!-- 联通流量包 CP密钥 -->
	<chinaUnicomPassword>766c8e69</chinaUnicomPassword>
	<!-- 联通流量包 sp标识，唯一标识sp -->
	<chinaUnicomSpid>21148</chinaUnicomSpid>
	<!-- 联通流量包 SP产品标识，唯一标识用户请求的产品 -->
	<chinaUnicomPid>8031006300</chinaUnicomPid>
	<!-- 联通流量包 门户的标识 -->
	<chinaUnicomPortalid>322</chinaUnicomPortalid>
	
	<!-- 七牛 -->
	<videoURL>http://kkshare.kktv1.com/</videoURL>
	<bucket>kksharedvideo</bucket>
	<domainURL>kkshare.kktv1.com</domainURL>
	<accessKey>v45tAjFwJErBUif90pYhXjq4tF4NFhFiZM0WbATc</accessKey>
	<secretKey>prnFJ3WGeJ_XLPtj4EdInWf069Y7qVvFfk411HcR</secretKey>
	
	<!-- 动态加入推荐动态数量 -->
	<recNewsAddedCount>5</recNewsAddedCount>
	
	<!-- 年度盛典结果信息 -->
	<annualActor>{86615095:117,39630332:101,29800935:95}</annualActor>
	<annualFamily>{10783:7739260,11101:4382094,10360:4232859}</annualFamily>
	
	<!-- 房间跑道地址 -->
	<runwayUrl>http://node01.kktv2.com:8080/</runwayUrl>
 	
	<!-- 用户送阳光中奖类别 -->
	<sendSunshinePrizeType>红玫瑰、爱心、30秀币、奶茶、50秀币、100秀币、500秀币等</sendSunshinePrizeType>
	
	<firstChargeMedal>150</firstChargeMedal>
	
	<!-- 统计关注人数上限 -->
	<followStaticMax>2000</followStaticMax>
	<!-- 大厅礼物消耗排行榜所在位置 -->
	<giftRankPosition>2</giftRankPosition>
	
	<!--腾讯分配 账号类型  -->
	<accountType>1565</accountType>
	<!--腾讯分配 sdkid  -->
	<sdk_appid>1400002820</sdk_appid>
	<!-- 腾讯分配 签名过期时间 -->
	<expire_after>2592000</expire_after>
	
</config>
