<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%l] - %m%n"/>
        </layout>
	</appender>
	
	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="File" value="${catalina.home}/logs/meshow.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%l] - %m%n"/>
        </layout>
    </appender>
	
	<appender name="statsLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshowstats.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%m%n"/>
		</layout>
    </appender>

	<appender name="levelLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshow/levelup.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%m%n"/>
		</layout>
    </appender>

	<appender name="hadoopLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/hadoop/data.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>
	
    <appender name="showMoneyLogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshow/showMoney.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] - [ %p ]  %m%n"/>
		</layout>
    </appender>
	
	<!-- 游客统计日志 -->
    <logger name="statsLogger">
		<level value="DEBUG"/>
		<appender-ref ref="statsLogfile" />
    </logger>
    
    <!-- 等级加成日志 -->
    <logger name="levelLogger">
		<level value="DEBUG"/>
		<appender-ref ref="levelLogfile" />
    </logger>
    
	<!-- Hadoop统计日志 -->
    <logger name="hadoopLogger">
		<level value="DEBUG"/>
		<appender-ref ref="hadoopLogfile" />
    </logger>
    
	<!-- 秀币日志 -->
    <logger name="showMoneyLogger" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="showMoneyLogFile" />
    </logger>
	
	<root>
		<priority value ="WARN" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>
    
</log4j:configuration>  