<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%l] - %m%n"/>
        </layout>
	</appender>
	
	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="File" value="${catalina.home}/logs/meshow.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%l] - %m%n"/>
        </layout>
    </appender>
	
	<appender name="statsLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshowstats.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%m%n"/>
		</layout>
    </appender>

	<appender name="levelLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshow/levelup.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%m%n"/>
		</layout>
    </appender>

	<appender name="hadoopLogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/hadoop/data.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>
	
	<appender name="errorlogfile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/data/logstash/logs/${kk.monitor.error.log.tag}.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}] [log_tag::${kk.monitor.error.log.tag}] [log_type::errlog] [ %t:%r ] - [ %p ] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
        <!-- <filter class="com.melot.monitor.filter.ErrorRateAndStringFilter">
                <param name="LogRate" value="3/s"/>
                <param name="FilterStr" value="haha"/>
        </filter> -->
    </appender>
	
	<appender name="apiStatsLogFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/data/logstash/logs/${kk.monitor.api.log.tag}.log"/>
		<param name="MaxFileSize" value="512KB"/>
		<param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}] [log_tag::${kk.monitor.api.log.tag}] %m%n"/>
        </layout>
    </appender>
	
	<appender name="traceLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/data/logstash/logs/${kk.monitor.trace.log.tag}.log"/>
        <param name="MaxFileSize" value="512KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}] [log_tag::${kk.monitor.trace.log.tag}] %m%n"/>
        </layout>
    </appender>
	
	<appender name="druidLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/data/logstash/logs/${kk.monitor.druid.log.tag}.log"/>
        <param name="MaxFileSize" value="512KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-d{yyyy-MM-dd HH:mm:ss}] [log_tag::${kk.monitor.druid.log.tag}] [log_type::druidstat] %m%n"/>
        </layout>
    </appender>
    
    <appender name="showMoneyLogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/meshow/showMoney.log"/>
		<param name="Append" value="true"/>
		<param name="Encoding" value="UTF-8"/>
    	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] - [ %p ]  %m%n"/>
		</layout>
    </appender>
	
	<!-- 游客统计日志 -->
    <logger name="statsLogger">
		<level value="DEBUG"/>
		<appender-ref ref="statsLogfile" />
    </logger>
    
    <!-- 等级加成日志 -->
    <logger name="levelLogger">
		<level value="DEBUG"/>
		<appender-ref ref="levelLogfile" />
    </logger>
    
	<!-- Hadoop统计日志 -->
    <logger name="hadoopLogger">
		<level value="DEBUG"/>
		<appender-ref ref="hadoopLogfile" />
    </logger>
    
	<!-- 监控后台-接口调用日志 -->
    <logger name="ApiStatsLogger" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="apiStatsLogFile" />
    </logger>
    
	<!-- 监控后台-调用链日志 -->
    <logger name="TracingLogger" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="traceLogFile" />
    </logger>
	
	<!-- 监控后台-数据源日志 -->
    <logger name="com.alibaba.druid.pool.DruidDataSourceStatLoggerImpl" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="druidLogFile" />
    </logger>
	
	<!-- 秀币日志 -->
    <logger name="showMoneyLogger" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="showMoneyLogFile" />
    </logger>
	
	<root>
		<priority value ="ERROR" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
        <appender-ref ref="errorlogfile" />
    </root>
    
</log4j:configuration>  